<header>
    <div class="header__wrapper">
        <div class="header__logo">
            <a href="/">Angular Seed</a>
        </div>
        <div class="hamburger" ng-click="nav.button()" ng-class="{'active': nav.isActive}">
            <div class="line line-1"></div>
            <div class="line line-2"></div>
            <div class="line line-3"></div>
        </div>
        <div class="header__menu" ng-class="{'active': nav.isActive}">
            <div class="wrapper">
                <ul class="menu-list">
                    <a ng-click="nav.button()" href="/">Home</a>
                    <a ng-click="nav.button()" href="/about">About</a>
                    <a ng-click="nav.toBlog()">Blog</a>
                    <a ng-click="nav.button()" href="/contact">Contact</a>
                </ul>
            </div>
        </div>
    </div>
</header>
